<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.golfpractice.golfer">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- DEBUG KEY: AIzaSyDfG9K7XcN97tl3uQpm1194Xn1eaZT_MLc -->
    <!-- PROD KEY: AIzaSyCgYFuzzP2Pz2ycziCpgO5mz6YMCy58BoU -->


    <application
        android:name=".activities.MonApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TealTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDfG9K7XcN97tl3uQpm1194Xn1eaZT_MLc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PlayerMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.CoachMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GolfCourseListActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.GolfCourseRefreshService"
            android:exported="false" />

        <activity
            android:name=".activities.SessionControllerActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.PracticeUploadService"
            android:exported="false" />
        <service
            android:name=".services.SesssionCloserService"
            android:exported="false" />

        <activity
            android:name=".activities.HoleStatViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ClubAndShapeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.PictureActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.SessionSummaryActivity" />
    </application>

</manifest>